/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #1e2d3b;
  display: flex;
  justify-content: center;
  font-family:'Lato', sans-serif;
}

/****************************/
#app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* SEARCH BAR */
#nav-bar{
  padding: 20px 40px;
  width:100%;
  background-color: black;
  display: flex;
  align-items:center;
}

#nav-bar #logo{
  font-size: 20px;
  color: red;
  font-weight: bold;
  transition: 0.2s;
}

#nav-bar #logo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#nav-bar #menu{
  flex-grow:1;
  margin-left: 20px;
}

#nav-bar #menu li {
  list-style: none;
  padding: 0px 15px;
  display: inline-block;
}

#nav-bar #menu li a{
  color: grey;
  text-decoration:none;
  font-size: 16px;
  letter-spacing: 1px;
}

#nav-bar #menu li:first-child a{
  font-weight:bold;
  color:white;
}

#nav-bar #menu li a:hover{
  color: white;
}

#nav-bar input{
  margin-right: 20px;
  width: 300px;
  padding: 5px 15px;
  outline: none;
  border-radius: 50px;
}

#nav-bar button{
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  outline: none;
}


/* MAIN */
#container{
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 40px ;
}

.movies, .serie-tv{
  position: relative;
}

.row-title{
  color: slategray;
}

.next{
  position:absolute;
  right:0px;
  top: 89px;
  background-color:rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 20px 20px;
  height: 278px;
  display: flex;
  align-items: center;
  z-index:100;
}

.prev{
  position:absolute;
  left:0;
  top: 89px;  
  background-color:rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 20px 20px;
  height: 278px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.next:hover, .prev:hover{
  background-color:rgba(0, 0, 0, 0.7);
}

.fa-chevron-right, .fa-chevron-left{
  font-weight: 500;
  font-size: 30px;
  cursor: pointer;
}

.container-cards{
  height: 380px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  padding:20px;
}

.card{
  cursor: pointer;
  margin-right: 8px;
}

.card:first-child{
  padding-left: 10px;
}
.card:last-child{
  padding-right:50px;
}

.copertina{
  width: 185px;
  height: 278px;
}

.overlay{
  height: 100%;
  background-color: black;
  display: none;
  color:white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.copertina:hover .overlay{
  border: 1px solid white;
  display: flex;
  transform: scale(1.2);
  z-index: 300;
}

.overlay span{
  display: block;
  padding-top: 10px;
  font-size: 14px;
}

.overlay .titolo{
  text-align: center;
  font-size: 15px;
}

.stars .bgyellow{
  color: yellow;
}

.overlay .overview{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
  font-size: 11px;
  padding-top: 10px;
  
}

.serie-tv{
  margin-top: 50px;
}
