/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: linear-gradient( to bottom, #2e3a46 0%, #2e3a46 10%, #1e2d3b 5%, #1e2d3b 100% );
  display: flex;
  justify-content: center;
}

#app{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 52px;
}

#search-bar{
  align-self: flex-end;
}

#container{
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.container-cards{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.card{
  margin-right: 20px;
}

.copertina{
  width: 342px;
  height: 100%;
}

.overlay{
  height: 100%;
  background-color: black;
  display: none;
  color:white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  line-height: 25px;
}

.overlay span{
  display: block;
}

.copertina:hover .overlay{
  display: flex;
}

.overlay .titolo{
  font-size: 25px;
  line-height: 45px;
}
.stars .bgyellow{
  color: yellow;
}

.overlay .overview{
  font-size: 15px;
}

.serie-tv{
  margin-top: 50px;
}
