/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #1e2d3b;
  display: flex;
  justify-content: center;
}

#app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* SEARCH BAR */
#nav-bar{
  padding: 10px 20px 10px 20px;
  text-align: right;
  flex-basis: 10%;
  width:100%;
  background-color: black;
}

#nav-bar img{
  float: left;
  height: 50px;
  width: 100px;
}

#nav-bar #menu{
  float: left;
}
#nav-bar #menu li {
  list-style: none;
  padding: 15px 15px 0;
  display: inline-block;
}

#nav-bar #menu li a{
  color: white;
  font-weight: bold;
  text-decoration:none;
}

#nav-bar input{
  margin-top: 10px;
  margin-right: 20px;
  width: 300px;
  padding: 5px;
  outline: none;
}

#nav-bar button{
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  outline: none;
}


/* MAIN */
#container{
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 40px 100px;
}

.container-cards{
  height: 380px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  padding: 20px;
}

.card{
  margin-right: 20px;
}

.copertina{
  width: 185px;
  height: 278px;
}

.overlay{
  height: 100%;
  background-color: black;
  display: none;
  color:white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.copertina:hover .overlay{
  border: 1px solid white;
  display: flex;
  transform: scale(1.2);
  z-index: 300;
}

.overlay span{
  display: block;
  padding-top: 10px;
  font-size: 14px;
}

.overlay .titolo{
  text-align: center;
  font-size: 15px;
}

.stars .bgyellow{
  color: yellow;
}

.overlay .overview{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
  font-size: 13px;
}

.serie-tv{
  margin-top: 50px;
}
