<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolflix</title>
    <script src="https://use.fontawesome.com/617605346e.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div id="app">

      <nav id="search-bar">
        <input type="search" name="" value="" v-model="search">
        <button type="button" name="button" @click="cerca">CERCA</button>
      </nav>

      <div id="container">

        <div class="movies" >
          <h1>Film</h1>
          <div class="container-cards">
            <div :style="{'background-image': 'url(poster)'}" class="card" v-for= "item in arrayAll" v-if="item.media_type==='movie'">
              <!-- <img :src="item.poster_path" alt=""> -->
              <span>Titolo: {{item.title}}</span>
              <span>Titolo originale: {{item.original_title}}</span>
              <img :src="item.original_language" >
              <span>Voto: {{item.vote_average}}</span>
              <div class="stars">
                <i class="fa fa-star" :class="(item.vote_average >= 1 ) ? yellowstar : '' " aria-hidden="true"></i>
                <i class="fa fa-star" :class="(item.vote_average >= 2 ) ? yellowstar : '' " aria-hidden="true"></i>
                <i class="fa fa-star" :class="(item.vote_average >= 3 ) ? yellowstar : '' " aria-hidden="true"></i>
                <i class="fa fa-star" :class="(item.vote_average >= 4 ) ? yellowstar : '' " aria-hidden="true"></i>
                <i class="fa fa-star" :class="(item.vote_average >= 5 ) ? yellowstar : '' " aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div><!--fine div movies-->

        <div class="serie tv">
          <h1>Serie Tv</h1>
          <div class="container-cards">
            <div v-for="item in arrayAll" v-if="item.media_type==='tv'" >
              <img :src="item.poster_path" alt="">
              <span>Titolo: {{item.name}}</span>
              <span>Titolo originale: {{item.original_name}}</span>
              <img :src="item.original_language" >
              <span>Voto: {{item.vote_average}}</span>
              <div class="stars">
                <i class="fa fa-star" :class="(item.vote_average >= 1 ) ? yellowstar : '' " aria-hidden="true"></i>
                <i class="fa fa-star" :class="(item.vote_average >= 2 ) ? yellowstar : '' " aria-hidden="true"></i>
                <i class="fa fa-star" :class="(item.vote_average >= 3 ) ? yellowstar : '' " aria-hidden="true"></i>
                <i class="fa fa-star" :class="(item.vote_average >= 4 ) ? yellowstar : '' " aria-hidden="true"></i>
                <i class="fa fa-star" :class="(item.vote_average >= 5 ) ? yellowstar : '' " aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div> <!--fine div serie tv-->

      </div> <!--fine container-->

    </div>



    <script type="text/javascript" src="js/myscript.js">
    </script>
  </body>
</html>
